:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  width: 100;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.widget-container {
  display: flex;
  flex-wrap: wrap;
  border: #e5e5e6 solid 1px;
  border-radius: 0.75rem;
  box-shadow: 1px 1px 2px #e5e5e6;
  padding: 5rem;
  width: 50%;
  gap: 1rem;
  margin-top: 1.5rem;
}

input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

input[type="number"] {
  appearance: text-field;
  -moz-appearance: textfield;
}

.widget-ul {
  width: 100%;
  padding-inline-start: 0;
  margin-block-end: 0;
}

.widget-li {
  list-style-type: none;
}

.widget-input {
  border: solid #bdbdbf 1px;
  border-radius: 0.25rem;
  width: 50%;
  padding: 0.25rem;
  font-weight: bold;
}

.band-p[data-value] {
  position: relative;
}

.band-p[data-value]:after {
  content: attr(data-value) "%";
  font-weight: bold;
  position: absolute;
  right: 0;
}

progress[value] {
  appearance: none;
  border: none;
  width: 100%;
  height: 20px;
  background-color: whiteSmoke;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}

/* Fallback styles */
.progress-bar {
  background-color: whiteSmoke;
  border-radius: 0.25rem;

  width: 100%;
  height: 20px;
}

.progress-bar span {
  background-color: orangered;
  border-radius: 0.25rem;

  display: block;
  text-indent: -9999px;
}

/* Fallback styles End */

progress[value]::-webkit-progress-bar {
  background-color: #efeff0;
  border-radius: 0.25rem;
}

progress[value]::-webkit-progress-value {
  background-color: var(--progress-color, orangered);
  border-radius: 0.25rem;
}

progress[value]::-moz-progress-bar {
  background-color: var(--progress-color, orangered);
}

.widget-button {
  background-color: #23a8eb;
  border: #bdbdbf solid 1px;
  border-radius: 0.25rem;
  padding: 0.4rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}
